@using FMCGWebApplication.Models

@model Area

<h2>Edit Area</h2>
<form asp-action="Edit">
    <input type="hidden" asp-for="CompanyCode" />
    <input type="hidden" asp-for="AreaCode" />

    <div class="form-group">
        <label>Area Name</label>
        <input asp-for="AreaName" class="form-control" required />
    </div>

    <div class="form-group">
        <label for="areaGroup">Area Group</label>
        <select asp-for="AreaGroup" class="form-control" asp-items="ViewBag.AreaGroups">
            <option value="">-- Select an Area Group --</option>
        </select>
    </div>

    <button type="submit" class="btn btn-warning">Update</button>
    <a class="btn btn-secondary" asp-action="Index">Cancel</a>
</form>
